## REGENERATION
## TEAM 3

# Creating CSV for Power BI

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("extracted.data.csv")

In [3]:
# extract car brands from car name
def getBrand(x):
    brand = x.lower().split()[0]
    return brand
df['brand'] = df['car name'].map(getBrand)

In [4]:
# δημιουργία bag of words από brands με στόχο την εύρεση τυπογραφικών
bagOfWords = {}
for name in df['brand']:
    words = name.lower().replace('(', '').replace(')', '').split()
    for word in words:
        if word not in bagOfWords:
            bagOfWords[word] = 0
        bagOfWords[word] += 1

In [5]:
def getBrand(x):
    brand = x.lower().split()[0]
    if (brand == 'vw' or brand == 'vokswagen'):
        return 'volkswagen'
    if (brand == 'toyouta'):
        return 'toyota'
    if (brand == 'maxda'):
        return 'mazda'
    if (brand == 'chevroelt'):
        return 'chevrolet'
    if (brand == 'mercedes-benz'):
        return 'mercedes'
    return brand
df['brand'] = df['car name'].map(getBrand)

In [6]:
df['brand'].unique()

array(['chevrolet', 'buick', 'plymouth', 'amc', 'ford', 'pontiac',
       'dodge', 'toyota', 'datsun', 'volkswagen', 'peugeot', 'audi',
       'saab', 'bmw', 'chevy', 'hi', 'mercury', 'opel', 'fiat',
       'oldsmobile', 'chrysler', 'mazda', 'volvo', 'renault', 'honda',
       'subaru', 'capri', 'mercedes', 'cadillac', 'triumph', 'nissan'],
      dtype=object)

In [7]:
df

,Unnamed: 0,cylinders,displayments,horsepower,weight,acceleration,model year,cluster,mpg,origin_1,origin_2,origin_3,origin,car name,brand
0,0,8,307.0,130.0,3504,12.0,70,1,18.0,1,0,0,1,chevrolet chevelle malibu,chevrolet
1,1,8,350.0,165.0,3693,11.5,70,1,15.0,1,0,0,1,buick skylark 320,buick
2,2,8,318.0,150.0,3436,11.0,70,1,18.0,1,0,0,1,plymouth satellite,plymouth
3,3,8,304.0,150.0,3433,12.0,70,1,16.0,1,0,0,1,amc rebel sst,amc
4,4,8,302.0,140.0,3449,10.5,70,1,17.0,1,0,0,1,ford torino,ford
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,393,4,140.0,86.0,2790,15.6,82,0,27.0,1,0,0,1,ford mustang gl,ford
394,394,4,97.0,52.0,2130,24.6,82,0,44.0,0,1,0,2,vw pickup,volkswagen
395,395,4,135.0,84.0,2295,11.6,82,0,32.0,1,0,0,1,dodge rampage,dodge
396,396,4,120.0,79.0,2625,18.6,82,0,28.0,1,0,0,1,ford ranger,ford
397,397,4,119.0,82.0,2720,19.4,82,0,31.0,1,0,0,1,chevy s-10,chevy

In [9]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

df['mpg_scaled'] = min_max_scaler.fit_transform(df[['mpg']])

In [10]:
df['horsepower'].astype('int')

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: int32

In [13]:
df = df.iloc[: , 1:]

In [14]:
df

,cylinders,displayments,horsepower,weight,acceleration,model year,cluster,mpg,origin_1,origin_2,origin_3,origin,car name,brand,mpg_scaled
0,8,307.0,130.0,3504,12.0,70,1,18.0,1,0,0,1,chevrolet chevelle malibu,chevrolet,0.239362
1,8,350.0,165.0,3693,11.5,70,1,15.0,1,0,0,1,buick skylark 320,buick,0.159574
2,8,318.0,150.0,3436,11.0,70,1,18.0,1,0,0,1,plymouth satellite,plymouth,0.239362
3,8,304.0,150.0,3433,12.0,70,1,16.0,1,0,0,1,amc rebel sst,amc,0.186170
4,8,302.0,140.0,3449,10.5,70,1,17.0,1,0,0,1,ford torino,ford,0.212766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,0,27.0,1,0,0,1,ford mustang gl,ford,0.478723
394,4,97.0,52.0,2130,24.6,82,0,44.0,0,1,0,2,vw pickup,volkswagen,0.930851
395,4,135.0,84.0,2295,11.6,82,0,32.0,1,0,0,1,dodge rampage,dodge,0.611702
396,4,120.0,79.0,2625,18.6,82,0,28.0,1,0,0,1,ford ranger,ford,0.505319
397,4,119.0,82.0,2720,19.4,82,0,31.0,1,0,0,1,chevy s-10,chevy,0.585106

In [17]:
df.dtypes

cylinders         int64
displayments    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
cluster           int64
mpg             float64
origin_1          int64
origin_2          int64
origin_3          int64
origin            int64
car name         object
brand            object
mpg_scaled      float64
dtype: object

In [18]:
df['cylinders_str'] = df['cylinders'].astype(str)

In [19]:
df['origin_str'] = df['origin'].astype(str)

In [20]:
df

,cylinders,displayments,horsepower,weight,acceleration,model year,cluster,mpg,origin_1,origin_2,origin_3,origin,car name,brand,mpg_scaled,cylinders_str,origin_str
0,8,307.0,130.0,3504,12.0,70,1,18.0,1,0,0,1,chevrolet chevelle malibu,chevrolet,0.239362,8,1
1,8,350.0,165.0,3693,11.5,70,1,15.0,1,0,0,1,buick skylark 320,buick,0.159574,8,1
2,8,318.0,150.0,3436,11.0,70,1,18.0,1,0,0,1,plymouth satellite,plymouth,0.239362,8,1
3,8,304.0,150.0,3433,12.0,70,1,16.0,1,0,0,1,amc rebel sst,amc,0.186170,8,1
4,8,302.0,140.0,3449,10.5,70,1,17.0,1,0,0,1,ford torino,ford,0.212766,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,0,27.0,1,0,0,1,ford mustang gl,ford,0.478723,4,1
394,4,97.0,52.0,2130,24.6,82,0,44.0,0,1,0,2,vw pickup,volkswagen,0.930851,4,2
395,4,135.0,84.0,2295,11.6,82,0,32.0,1,0,0,1,dodge rampage,dodge,0.611702,4,1
396,4,120.0,79.0,2625,18.6,82,0,28.0,1,0,0,1,ford ranger,ford,0.505319,4,1
397,4,119.0,82.0,2720,19.4,82,0,31.0,1,0,0,1,chevy s-10,chevy,0.585106,4,1

In [21]:
df.to_csv("carbi.data.csv")